$modalWidth: 750px;

// gradient from top to bottom with 2 colors
// gradient should blacked out
$gradient: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
);

.imageContainer {

  position: relative;

  border-radius: 4px;
  cursor: pointer;
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  min-height: 300px;

  &, & > * {
    outline: none;
  }

  &:has(video) {
    min-height: 0;
  }

  @media screen and (max-width: 500px) {
    flex: 1 0 20rem;
  }

  @media screen and (max-width: 355px) {
    flex: 1 0 16rem;
  }

  &__notAnAdult {
    img, video {
      filter: blur(4rem);
    }

    opacity: 0.5;
  }

  img, video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 400ms ease-out;


  }

  img {
    &:hover {
      transform: scale(1.15);
    }
  }


  &__info {
    &__video {
      top: 0;
      height: max-content;
      border-radius: 4px;
    }

    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    color: #fff;
    background: $gradient; //rgba(0, 0, 0, 0.5);
    width: 100.3%;
    padding: .40rem .75rem;
    pointer-events: none;
    display: flex;
    justify-content: space-between;


    & > * {
      display: block;
      text-transform: capitalize;
      font-weight: 500;

    }

    &__category {

    }

  }

}

.dialog {

  background-color: var(--bg-secondary) !important;

  & > * {
    background-color: var(--bg-primary) !important;
  }


  & button {
    border-radius: 0 !important;
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    outline: none;
    font-size: 40px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    box-shadow: none;
    cursor: pointer;
  }

}