.DImage {
  outline: none;

  & > * {
    outline: none;
  }

  max-width: max-content;

  &.notModal {
    cursor: pointer;
  }

  span img {

    border-radius: 4px;
  }

  &:not(.notModal) {
    span img {
      width: 700px !important;
    height: 700px !important;
    }
  }


  &__action {

    &__category {

    }

  }

}