
.header {
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  min-width: 100%;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
}

.button {
  background-color: var(--discord-btn-color);

  color: #fff;
  max-width: max-content;

  &:hover {
    background-color: rgb(69, 79, 191);
  }
}