
.header {
  padding: 12px 40px;
  display: grid;
  grid-template-areas: "nav logo invite";
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  min-width: 100%;
  background-color: var(--bg-primary);

  @media screen and (max-width: 700px) {
    grid-template-areas:
            "logo logo"
            "nav invite";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 550px) {
    & > * {
      max-width: 80vw;
    }
  }

  &__logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;


  }

  &__aside {
    grid-area: nav;
    max-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.buttonWrapper {
  justify-self: end;
  grid-area: invite;
  max-width: max-content;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  
   @media screen and (max-width: 700px) {
     margin-bottom: 0;
   }
  
}

.button {
  background-color: var(--discord-btn-color) !important;

  color: #fff !important;
  max-width: max-content !important;

  @media screen and (max-width: 500px) {
    font-size: 0.8rem !important;
  }

  @media screen and (max-width: 372px) {

    font-size: 0.65rem !important;

  }

  &:hover {
    background-color: rgb(69, 79, 191) !important;
  }
}