.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;

  span {
    margin: 0 1rem;
    color: var(--text-secondary)
  }

}

.button {
  background-color: var(--discord-btn-color) !important;
  margin: 0 .2rem !important;
  color: #fff !important;
  max-width: max-content !important;

  &[disabled] {
    background-color: var(--discord-btn-color) !important;
    color: var(--text-primary) !important;
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }

  &:hover {
    background-color: rgb(69, 79, 191) !important;
  }
}