.dImages {
  display: flex;
  flex-direction: column;
  min-height: 75vh;

  @media screen and (max-width: 700px) {
    margin: calc(4vw) auto;

  }
}


.noImages {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.imagesGrid {
  // create a gallery where the images are displayed in a grid
  // every row has up to 3 images

  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
  transition: all 0.5s ease-in;

}

.adultWarning {
  padding: .25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    color: var(--text-secondary);
  }

  p {
    font-size: 1.1rem;
    color: var(--text-primary);
    font-weight: 500;

    b {
      color: red;
    }
  }

  button {
    background-color: var(--discord-btn-color) !important;
    border-radius: 8px !important;
    color: #fff !important;
    max-width: max-content !important;

    &:hover {
      background-color: rgb(69, 79, 191) !important;
    }
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}