.dImages {
  display: flex;
  flex-direction: column;
  min-height: 75vh;

  @media screen and (max-width: 700px) {
      margin: calc(4vw ) auto;

  }
}

.imagesGrid {
  // create a gallery where the images are displayed in a grid
  // every row has up to 3 images

  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
  transition: all 0.5s ease-in;

}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}